$base-color-text: #333;

// bootstrap variables
$body-bg: #fff;
$body-color: $base-color-text;


// cashby variables
$link-color: $base-color-text;
$link-hover-color: $base-color-text;
$link-active-color: $base-color-text;



// slider
$slider-bg: #ffd500;
$slider-color: #000;

$slider-btn-color: #000;
$slider-btn-bg-primary: #ff8c00;
$slider-btn-size: 1.1rem;
$slider-btn-border-radius: 2rem;
$slider-btn-line-height: 1.5rem;
$slider-btn-padding: 1rem 2rem;



$icon-color: #999999;
